<!DOCTYPE html>
<html>
<head>
    <title>Add New Order</title>
</head>
<body>
    <h1>Add New Order</h1>

    <form method="POST">
        <label>Order ID:</label><br>
        <input type="text" name="order_id"><br><br>

        <label>Customer:</label><br>
        <input type="text" name="customer"><br><br>

        <label>Puppy:</label><br>
        <input type="text" name="puppy"><br><br>

        <label>Total Price:</label><br>
        <input type="number" name="total_price"><br><br>

        <label>Amount Paid:</label><br>
        <input type="number" name="amount_paid"><br><br>

        <button type="submit">Submit Order</button>
    </form>

    <br>
    <a href="/">Back Home</a>
</body>
</html>